[Unit]
Description=BakeCake autodeploy from main every 3 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=3min
AccuracySec=30s

[Install]
WantedBy=timers.target
